[submodule "App/modules/log"]
	path = App/modules/log
	url = git@github.com:shuai132/log.git
[submodule "App/modules/ScopeCore"]
	path = App/modules/ScopeCore
	url = git@github.com:shuai132/ScopeCore.git
