name: build

on: [push]

jobs:
  Linux:
    runs-on: ubuntu-latest
    env:
      targetName: ScopeMCU

    steps:
      - name: Install Dependencies
        run: sudo apt-get install gcc-arm-none-eabi

      - name: Upgrade cmake to 3.15.5
        run: |
          wget https://github.com/Kitware/CMake/releases/download/v3.15.5/cmake-3.15.5-Linux-x86_64.tar.gz
          tar zxf cmake-3.15.5-Linux-x86_64.tar.gz
          sudo mv cmake-3.15.5-Linux-x86_64 /opt/cmake-3.15.5
          sudo ln -sf /opt/cmake-3.15.5/bin/* /usr/local/bin/

      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Submodules
        run: git submodule update --init --recursive

      - name: CMake Build
        run: |
          mkdir build && cd build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make
          zip ${{ env.targetName }}.zip ${{ env.targetName }}.bin ${{ env.targetName }}.hex

      - name: Make Release
        if: startsWith(github.event.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v1-release
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: build/${{ env.targetName }}.zip
          asset_name: ${{ env.targetName }}.zip
          tag: ${{ github.ref }}
          overwrite: true
